:host {
  background: url('/assets/img/img-bg-login.jpg') no-repeat fixed center;
  background-size: cover;
  display: block;
  height: 100vh;
  color: #fff;

  > .container-fluid {
    height: 100%;
    > .row {
      height: 100%;
    }

    .btn-login {
      background-color: orangered;
      color: #fff;
    }

    input {
      padding-left: 2rem;
    }
    .login {
      position: relative;
      &:after {
        content: ' ';
        position: absolute;
        height: 2.5rem;
        width: 1.75rem;
        z-index: 2;
        top: 0;
        left: 0;
        background: url(/assets/img/icon-login.png) no-repeat center;
        background-size: contain;
      }
    }
    .password {
      position: relative;
      &:after {
        content: ' ';
        position: absolute;
        height: 2.5rem;
        width: 1.75rem;
        z-index: 2;
        top: 0;
        left: 0;
        background: url(/assets/img/icon-key.png) no-repeat center;
        background-size: contain;
      }
    }
  }
}
